<header class="uk-background-primary">
    <section class=" uk-container uk-container-large">
        <div class="">
            <nav class="" uk-navbar>
                <div class="uk-navbar-left">
                    <h2 class="logo"><a href="home">MEMEGRAM</a></h2>
                    <% if (locals.user){ %>
                        <h3>Bienvenido: <%= locals.user.nombre_usuario  %> </h3> 
                        <form action="/users/logout" method="POST">
                            <button type="submit">Logout</button>
                        </form>
                    <% } %> 
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/post/agregarPost">Postear</a></li>
                        <li><a href="/users/miPerfil">Perfil</a></li>
                    </ul>
                </div>
                 <div class="uk-navbar-right">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li>
                            <form action="/users/resultadoBusqueda" method="GET" class="uk-search uk-search-default">
                                <span uk-search-icon></span>
                                <input name="buscador" type="search" id="search" class="uk-search-input" placeholder="Buscar...">
                            </form>
                            <form action="/post/buscadorPosts" method="GET" class="uk-search uk-search-default">
                                <span uk-search-icon></span>
                                <input name="buscadorposts" type="search" id="search" class="uk-search-input" placeholder="Buscar posts...">
                            </form>
                        </li>
                    </ul>
                </div> 
            </nav>
        </div>
    </section>
</header>

<script>

document.addEventListener('DOMContentLoaded', function () {
  var checkbox = document.querySelector('input[type="checkbox"]');

  checkbox.addEventListener('change', function () {
    if (checkbox.checked) {
        document.documentElement.classList.toggle('dark-mode');

        document.querySelectorAll('.inverted').forEach((result) => {
            result.classList.toggle('invert')
        });  
      console.log('Checked');
    } else {
        document.documentElement.classList.toggle('dark-mode');

        document.querySelectorAll('.inverted').forEach((result) => {
            result.classList.toggle('invert')
        });
      console.log('Not checked');
    }
  });
});

</script>