<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEMEGRAM</title>

    <!-- tipografias-->

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="icon"
        href="memes/logo.png"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include('./partials/headerLogueado.ejs') %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4>marcosvons</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="memes/8E8.jpg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">marcosvons</h5>
                                <p class="uk-width-5-6"> #ProgramadorLife</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="/detalleUsuario">timokarl</a>
                                    <p>jajaja</p>
                                </li>
                                <li>
                                    <a href="/detalleUsuario">valunies</a>
                                    <p>buenisimo!</p>
                                </li>
                                <a href="/detallePost">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4>timokarl</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="memes/599f555e74a0a.jpg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">timokarl</h5>
                                <p class="uk-width-5-6"> #ProgramadorLife</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="/detalleUsuario">marcosvons</a>
                                    <p>Muy bueno!</p>
                                </li>
                                <li>
                                    <a href="/detalleUsuario">valunies</a>
                                    <p>JAJAJAJA</p>
                                </li>
                                <a href=/detallePost">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4>valunies</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="memes/como-crees-que-te-ves-cuando-hablas-de-programacion-como-57275357.png" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">valunies</h5>
                                <p class="uk-width-5-6"> #ProgramadorLife</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="/detalleUsuario">marcosvons</a>
                                    <p>jajajaja</p>
                                </li>
                                <li>
                                    <a href="/detalleUsuario">timokarl</a>
                                    <p>buenisimo</p>
                                </li>
                                <a href="/detallePost">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4>dariosus</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="memes/ dino.jpg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">dariosus</h5>
                                <p class="uk-width-5-6"> #ProgramadorLife</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="/detalleUsuario">timokarl</a>
                                    <p>jajajajaja</p>
                                </li>
                                <li>
                                    <a href="/detalleUsuario">marcosvons</a>
                                    <p>jajajajaja</p>
                                </li>
                                <a href="/detallePost">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4>matiheber</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="memes/unnamed.jpg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">matiheber</h5>
                                <p class="uk-width-5-6"> #ProgramadorLife</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="/detalleUsuario">timokarl</a>
                                    <p>Muy bueno</p>
                                </li>
                                <li>
                                    <a href="/detalleUsuario">valunies</a>
                                    <p>JAJAJAJ</p>
                                </li>
                                <a href="/detallePost">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4>timokarl</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="memes/images.jpg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">timokarl</h5>
                                <p class="uk-width-5-6"> #ProgramadorLife</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="/detalleUsuario">valunies</a>
                                    <p>jajajajaja</p>
                                </li>
                                <li>
                                    <a href="/detalleUsuario">marcosvons</a>
                                    <p>Buenisimo!!</p>
                                </li>
                                <a href="/detallePost">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4>marcosvons</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="memes/obma.jpg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">marcosvons</h5>
                                <p class="uk-width-5-6"> #ProgramadorLife</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="/detalleUsuario">timokarl</a>
                                    <p>jajajjaa</p>
                                </li>
                                <li>
                                    <a href="/detalleUsuario">valunies</a>
                                    <p>jajajjajajaa</p>
                                </li>
                                <a href="/detallePost">Ver más...</a>
                            </ul>
                        </div>
                    </article>
        
                </section>

            </div>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %> 
</body>

</html>