
/* INICIO DEL HEADER */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


header{
    height: 55px;
    padding-top: 10px;
}
header section{
    height: 100%;
    background-color: whitesmoke;
}
header section nav{
    height: 100%;
    background-color: whitesmoke;
}
header nav ul li a{
    font-family: 'Roboto', sans-serif;
    color: #3d3d3d;
}
header nav ul li a:hover{
    color: rgb(221, 60, 60);
    text-decoration: none;

}
.logo{
    margin: 0px;
}
.logo a{
    font-family: 'Anton', sans-serif;
    color: rgb(221, 60, 60);;
}

.logo a:hover {
    text-decoration: none;
    color: #3d3d3d;
}
header ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
header div.uk-navbar-center ul li{
    padding: 0 10px;
    border-right: 1px solid #3d3d3d;
}
header div.uk-navbar-center ul li:nth-last-child(1){
    border-right: none;
}
header nav form input, header nav form ::placeholder, header nav form span{
    color: #3d3d3d !important;
}

header.uk-background-primary{
    background-color: whitesmoke;
}


 /* FIN DEL HEADER */




/* BODY */

section.detalle-container{
    border: 1px solid lightgray;
}
/* article.detalle-post{
    /* border-right: 1px solid lightgray; 
} 

article.detalle-post .imagen-post{

}*/

.comentarios-detalle{
    border-left: 1px solid lightgray;
}

.comentarios-detalle .info-post{
    height: 10%;
    border-bottom: 1px solid lightgray;
    padding-left: 5px;
}
.comentarios-detalle .info-post img{
    border-radius: 50%;
}
.comentarios-detalle .info-post h3{
    font-size: 14px;
    font-weight: bolder;
    margin: 0 0 0 8px;
}
.comentarios-detalle .lista-comentarios{
    height: 75%;
    padding-left: 5px;
    border-bottom: 1px solid lightgray;
    overflow: scroll;
}
.comentarios-detalle .lista-comentarios::-webkit-scrollbar{
    display: none;
}
.comentarios-detalle .agregar-comentario{
    height: 15%;
    padding-left: 5px;
}

.comentarios-detalle .lista-comentarios{
    padding-right: 2px;
}
.comentarios-detalle .lista-comentarios .comentario .icono-meGusta{
    font-weight: bolder;
}
.comentarios-detalle .lista-comentarios .comentario div img{
    border-radius: 50%;
}

.comentarios-detalle .lista-comentarios .comentario h6{
    font-size: 13px;
    margin-left: 2px !important;
}
.comentarios-detalle .lista-comentarios .comentario h6 a{
    font-weight: bolder;
    font-size: 15px;
    color: black;
    text-decoration: none;
    margin-right: 4px !important;
}

/* FIN DEL BODY */

/* INICIO FOOTER */
footer.uk-background-primary{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3d3d3d;
    background-color: whitesmoke;
}
/* FIN FOOTER */


