/* INICIO DEL HEADER */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

header{
    height: 55px;
    padding-top: 10px;
}
header section{
    height: 100%;
    background-color: whitesmoke;
}
header section nav{
    height: 100%;
    background-color: whitesmoke;
}
header nav ul li a{
    font-family: 'Roboto', sans-serif;
    color: #3d3d3d;
}
header nav ul li a:hover{
    color: rgb(221, 60, 60);
    text-decoration: none;

}
.logo{
    margin: 0px;
}
.logo a{
    font-family: 'Anton', sans-serif;
    color: rgb(221, 60, 60);;
}

.logo a:hover {
    text-decoration: none;
    color: #3d3d3d;
}
header ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
header div.uk-navbar-center ul li{
    padding: 0 10px;
    border-right: 1px solid #3d3d3d;
}
header div.uk-navbar-center ul li:nth-last-child(1){
    border-right: none;
}
header nav form input, header nav form ::placeholder, header nav form span{
    color: #3d3d3d !important;
}

header.uk-background-primary{
    background-color: whitesmoke;
    position: sticky;
    top: 0px;
    z-index: 2;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(221, 60, 60);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(221, 60, 60);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

 /* FIN DEL HEADER */